body{
    margin: 0;
    padding: 0;
    height: 100vh;
    transition: 5s linear ease-in-out;
    position: relative;
    
}

.body{
    height: 90vh;
}

#buttons{
    
    display: flex;
    margin: 15% auto;
    flex-direction: row;
    justify-content: space-between;
}

#prev button{
    background-color: rgb(221, 86, 86);
    width: 50px;
    height: 50px;
}
#next button
{
    background-color: rgb(80, 80, 131);
    width: 50px;
    height: 50px;
}
i{
    font-size: 30px;
}

.colors{
    text-align: center;
    font-size: 30px;
    /* width: 400px; */
    /* text-align: center; */
    margin: auto;
    padding: 30px;  
    border-radius: 5px;
    color: white;
}



