.modal, .code-modal {
    width: 100%;
    height: 100%;
    display: none;
  }
  
  .modal-pop {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    position: absolute;
    width: 606px;
    height: 300px;
    left: 538px;
    top: 245px;
  
    background: #FFF;
    box-shadow: 0px 16px 48px rgba(0, 0, 0, 0.175);
    border-radius: 8px;
  }
  
  .button{
    font-size: 50px;
    padding: 10px;
    margin-left: 90%;
    margin-bottom: 6%;
    text-align: right;
    height: 2rem;
    width: 2rem;
    transform: rotate(45deg);
  }

  #diaper {
    font-size: 15px;
  }

  #closeButton,
  #closeButton2{
    cursor: pointer;
  }

  .text{
    text-align: center;
    font-size: 18px;
    padding: 20px;

  }
  .text p{
    background-color: rgb(197, 146, 69);
    width: 40%;
    padding: 20px;
    border-radius: 10px;
  font-size: 20px;
  font-weight: bolder;
    margin: auto;
    margin-bottom: 30px;
  }

  .hide-button {
    display: none;
    transition: 1s ease-out;
  }
  
  .modal-hidden{
    display: block;
  } 

  .snipKey { 
    color: darkturquoise;
  }

  .snipMiddle {
    color: dodgerblue;
  }

  .snipValue {
    color: crimson;
  }